.tableroLimite {
	width: 900px;
	height: 900px;
	overflow: hidden;
	margin: 0;
}

.tablero {
	width: 900px;
	height: 900px;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	grid-gap: 5px;
	transform: rotate(45deg);
}

.tablero div {
	border: 1px solid #1b1b1b;
	cursor: pointer;
}
.tablero div:active {
	opacity: 0.7;
}

.tablero div:nth-child(1) {
	grid-column: 7;
	grid-row: 8;
}

.tablero div:nth-child(2) {
	grid-column: 6;
	grid-row: 8;
}
.tablero div:nth-child(3) {
	grid-column: 5;
	grid-row: 8;
}
.tablero div:nth-child(4) {
	grid-column: 4;
	grid-row: 8;
}
.tablero div:nth-child(5)::after {
	content: '';
	/* position: absolute;
	width: 50px;
	height: 50px;
	left: 0;
	bottom: 0px;
	transform: rotate(45deg) ;
	background: #000;
	z-index: 4;  */
	 position: absolute;
	width: 0;
	height: 0;
	left: -24px;
	top: -26px;
	transform: rotate(180deg) scale(.55);

	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red; 
}

.tablero div:nth-child(5) {
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none; 
	grid-column: 3;
	grid-row: 8;
}
.tablero div:nth-child(6) {
	grid-column: 2;
	grid-row: 8;
}
/*---- Rounded -----*/
.tablero div:nth-child(7) {
	grid-column: 1;
	grid-row: 8;
	border-radius: 30px 0 0 0;
}
/*---- Rounded -----*/
.tablero div:nth-child(8) {
	grid-column: 1;
	grid-row: 9;
	border-radius: 0px 0 0 30px;
}
.tablero div:nth-child(9) {
	grid-column: 2;
	grid-row: 9;
}
.tablero div:nth-child(10) {
	position: relative;
	grid-column: 3;
	grid-row: 9;
	background: transparent;
	overflow: hidden;
	border: none;
}
.tablero div:nth-child(10)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24.5px;
	top: -24px;
	transform: scale(.55);
	
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.tablero div:nth-child(11) {
	grid-column: 4;
	grid-row: 9;
}
.tablero div:nth-child(12) {
	grid-column: 5;
	grid-row: 9;
}
.tablero div:nth-child(13) {
	grid-column: 6;
	grid-row: 9;
}
.tablero div:nth-child(14) {
	grid-column: 7;
	grid-row: 9;
}
.tablero div:nth-child(15) {
	grid-column: 8;
	grid-row: 9;
}
.tablero div:nth-child(16) {
	grid-column: 8;
	grid-row: 10;
}
.tablero div:nth-child(17) {
	grid-column: 8;
	grid-row: 11;
}
.tablero div:nth-child(18) {
	grid-column: 8;
	grid-row: 12;
}
.tablero div:nth-child(19) {
	grid-column: 8;
	grid-row: 13;
}
.tablero div:nth-child(20) {
	grid-column: 8;
	grid-row: 14;
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none;
}
.tablero div:nth-child(20)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24.5px;
	top: -24px;
	transform: rotate(90deg) scale(.55);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.tablero div:nth-child(21) {
	grid-column: 8;
	grid-row: 15;
}
/*---- Rounded -----*/
.tablero div:nth-child(22) {
	grid-column: 8;
	grid-row: 16;
	border-radius: 0 0 0 30px;
}
/*---- Rounded -----*/
.tablero div:nth-child(23) {
	grid-column: 9;
	grid-row: 16;
	border-radius: 0 0 30px 0;
}
.tablero div:nth-child(24) {
	grid-column: 9;
	grid-row: 15;
}
.tablero div:nth-child(25) {
	grid-column: 9;
	grid-row: 14;
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none;
}
.tablero div:nth-child(25)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24.5px;
	top: -24px;
	transform: rotate(-90deg) scale(.55);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.tablero div:nth-child(26) {
	grid-column: 9;
	grid-row: 13;
}
.tablero div:nth-child(27) {
	grid-column: 9;
	grid-row: 12;
}
.tablero div:nth-child(28) {
	grid-column: 9;
	grid-row: 11;
}
.tablero div:nth-child(29) {
	grid-column: 9;
	grid-row: 10;
}
.tablero div:nth-child(30) {
	grid-column: 9;
	grid-row: 9;
}
.tablero div:nth-child(31) {
	grid-column: 10;
	grid-row: 9;
}
.tablero div:nth-child(32) {
	grid-column: 11;
	grid-row: 9;
}
.tablero div:nth-child(33) {
	grid-column: 12;
	grid-row: 9;
}
.tablero div:nth-child(34) {
	grid-column: 13;
	grid-row: 9;
}
.tablero div:nth-child(35) {
	grid-column: 14;
	grid-row: 9;
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none;
}
.tablero div:nth-child(35)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24.5px;
	top: -24px;
	transform: scale(.55);
	
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.tablero div:nth-child(36) {
	grid-column: 15;
	grid-row: 9;
}
/*---- Rounded -----*/
.tablero div:nth-child(37) {
	grid-column: 16;
	grid-row: 9;
	border-radius: 0 0 30px 0;
}
/*---- Rounded -----*/
.tablero div:nth-child(38) {
	grid-column: 16;
	grid-row: 8;
	border-radius: 0 30px 0 0;
}
.tablero div:nth-child(39) {
	grid-column: 15;
	grid-row: 8; 
}
.tablero div:nth-child(40) { 
	grid-column: 14;
	grid-row: 8;
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none;
}

.tablero div:nth-child(40)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24px;
	top: -26px;
	transform: rotate(180deg) scale(.55);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.tablero div:nth-child(41) {
	grid-column: 13;
	grid-row: 8;
}
.tablero div:nth-child(42) {
	grid-column: 12;
	grid-row: 8;
}
.tablero div:nth-child(43) {
	grid-column: 11;
	grid-row: 8;
}
.tablero div:nth-child(44) {
	grid-column: 10;
	grid-row: 8;
}
.tablero div:nth-child(45) {
	grid-column: 9;
	grid-row: 8;
}
.tablero div:nth-child(46) {
	grid-column: 9;
	grid-row: 7;
}
.tablero div:nth-child(47) {
	grid-column: 9;
	grid-row: 6;
}
.tablero div:nth-child(48) {
	grid-column: 9;
	grid-row: 5;
}
.tablero div:nth-child(49) {
	grid-column: 9;
	grid-row: 4;
}
.tablero div:nth-child(50) {
	grid-column: 9;
	grid-row: 3;
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none;
}
.tablero div:nth-child(50)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24.5px;
	top: -24px;
	transform: rotate(-90deg) scale(.55);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.tablero div:nth-child(51) {
	grid-column: 9;
	grid-row: 2;
}
/*---- Rounded -----*/
.tablero div:nth-child(52) {
	grid-column: 9;
	grid-row: 1;
	border-radius: 0 30px 0 0;
}
/*---- Rounded -----*/
.tablero div:nth-child(53) {
	grid-column: 8;
	grid-row: 1;
	border-radius: 30px 0 0 0;
}
.tablero div:nth-child(54) {
	grid-column: 8;
	grid-row: 2;
}
.tablero div:nth-child(55) {
	grid-column: 8;
	grid-row: 3;
	position: relative;
	background: transparent;
	overflow: hidden;
	border: none;
}
.tablero div:nth-child(55)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -24.5px;
	top: -24px;
	transform: rotate(90deg) scale(.55);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}
.tablero div:nth-child(56) {
	grid-column: 8;
	grid-row: 4;
}
.tablero div:nth-child(57) {
	grid-column: 8;
	grid-row: 5;
}
.tablero div:nth-child(58) {
	grid-column: 8;
	grid-row: 6;
}
.tablero div:nth-child(59) {
	grid-column: 8;
	grid-row: 7;
}
.tablero div:nth-child(60) {
	grid-column: 8;
	grid-row: 8;
}

.start {
	background: coral;
}

.normal {
	background: rgb(242 203 159);
}

.center {
	background: #ad7a3b;
}

.triangle {
	background-color: #ff4d4d;
}

.rounded {
	background: #e7a757;
	transform: scale(1);
}
